.container {
  /* border: 1px solid whi; */

  margin-bottom:0;
  min-width: 1000px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  display: grid;
  grid-template-columns: auto, auto, auto, auto, auto;
  grid-template-rows: auto, auto, auto, auto, auto, auto;
  column-gap: 10px;
  row-gap: 15px;
  width: 70vw;
  margin:auto;
  margin-top: 40px;
}
.addSelect{

  height: 27px;
  cursor: pointer;
  outline-color:  rgb(255, 171, 0);
}
.lesson {
  grid-column-start: 1;
  grid-column-end: 2;
}
.drpLesson {
  grid-column-start: 2;
  grid-column-end: 3;
}

.class {
  grid-column-start: 4;
  grid-column-end: 5;
}
.drpClass {
  grid-column-start: 5;
  grid-column-end: 6;
}
.category {
  grid-column-start: 1;
  grid-column-end: 2;
}
.drpCategory {
  grid-column-start: 2;
  grid-column-end: 3;
}
.price {
  grid-column-start: 4;
  grid-column-end: 5;
}
.drpPrice {
  grid-column-start: 5;
  grid-column-end: 6;
}
.startDate {
  grid-column-start: 1;
  grid-column-end: 2;
}
.datepicker {
  grid-column-start: 2;
  grid-column-end: 3;
  
}
.duration {
  grid-column-start: 4;
  grid-column-end: 5;
}
.inputDuration {
  grid-column-start: 5;
  grid-column-end: 6;
}

.examUrl {
  grid-column-start: 1;
  grid-column-end: 2;
}
.inputExamUrl {
  grid-column-start: 2;
  grid-column-end: 3;
  min-height: 22px;
}

.calcUrl {
  grid-column-start: 4;
  grid-column-end: 5;
}
.inputCalcUrl {
  grid-column-start: 5;
  grid-column-end: 6;
}
.resultUrl {
  grid-column-start: 1;
  grid-column-end: 2;
}
.inputResUrl {
  grid-column-start: 2;
  grid-column-end: 3;
}
.description {
  grid-column-start: 4;
  grid-column-end: 5;
}
.descArea {
  grid-column-start: 5;
  grid-column-end: 6;
}
.btns {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btnClear {
  margin-right: 10px;
  padding: 5px 15px;
  color: white;
  background-color: #fc7979;
  border: 1px solid #fc7979;
  border-radius: 10px;
}
.btnClear:hover {
  color: #fc7979;
  border: 2px solid #fc7979;
  background-color: white;
}
.btnSave {
  padding: 5px 15px;
  color: white;
  background-color: #5cd679;
  border: 1px solid #5cd679;
  border-radius: 10px;
}
.btnSave:hover {
  color: #5cd679;
  border: 2px solid #5cd679;
  background-color: white;
}
.stateSuccess {
  grid-column-start: 2;
  grid-column-end: 5;
  text-align: center;
  color: rgb(37, 184, 0);
  font-size: 20px;
}
.spinner {
  grid-column-start: 3;
  grid-column-end: 4;
  margin: 0px;
}
@media only screen and (max-width: 1100px){
  .container{
    margin-top: 100px;
    margin-bottom:10px;
  }
}
