.home-container {
  margin-top: 20px;
  /* background: url("https://lh3.googleusercontent.com/XWXHKdD261uONvet3kku4qs3jgt4AObU0Ubw2nSTjAPaNxE3NTRa5jkTHKlso1VfXdftuLjNnrVm-Mdxzol_bV1bVWQR9Z9mrG61u0Z1VbJPx59uuXcq7GhOoU6w3tbUoVLKVbehZmJqXJqOtCgqxmZbjERd7DL-pX9wfDSI_1BGHQwzqCn21oR21mFNJaissg99SgKfxTdmyITs9jhMa2yoraaHgjdJGcRPdz7KT_4Ct3bx13GShwox7VO2sVx7S1EwXTNQz_U9JiupHnOYpPBTEbbLPTYgLK-cl9n_9WceWD4gJ75q-mYa1UrSmtYg4NaJV7xkaJNIEVsVf5IHyaH9K_UJxRRucijRKnnui4qZwEl-OilRX36T0IQMruGDkCQu4fTQ3xw4d_KuKuxw9-jdJkQpDrDBFjblLwTldHe2MExzd7XJcW-G_W3wvrRnksO2TQ01dJpFZ7JqntHJADTaVOymbnMF513BCJSaOATywpYZl5ydIKYE6QxDGR1sEDKDnsM_oUcWqcInq7upPscGzt6FUvpRONr0hS87iBCHKtE59-FvdA5FLq4qB1ss9J9UrvDLPiJRia27pv7bUAEXwondFDO8f3T-ogm8g9SIKptN4HJe_DCTISXiPHLzGRwPhnjMRIsbVvf0L7Ezi55amkmm9o7D73V02Kx-pDc741TeH_bLzWfW6GNdfg=w575-h390-no?authuser=0")
    no-repeat center center fixed; */

  /* Full height */
  /* height: 100%;

  background-size: cover; */

  /* background-color: white; */
}
@media (max-width: 1100px) {
  .home-container {
    margin-top: 50px;
    height: 100%;
    background-image: none;
  }
}
