/* .home-container {
  margin-top: 20px;
}
@media (max-width: 1100px) {
  .home-container {
    margin-top: 50px;
    height: 100%;
    background-image: none;
  }
} */
.content {
  margin: auto;
  width: 70vw;
  display: flex;
  flex-direction: row;
  /* background-color: aquamarine; */
  justify-content: space-around;
}
.contentText {
  height: 100%;
  margin: auto;
}
h1 {
  /* color: #225c74; */
  color: rgba(255, 141, 0, 1);
}
p {
  font-size: 20px;
}
.imgTestSystem {
  width: 50%;
  height: auto;
}
.linkLogin {
  padding: 10px 20px;
  color: white;
  background: rgb(255, 171, 0);
  background: linear-gradient(
    72deg,
    rgba(255, 171, 0, 1) 0%,
    rgba(255, 141, 0, 1) 52%,
    rgba(255, 115, 0, 1) 100%
  );
}
.linkSignup {
  margin-left: 1em;
  padding: 8px 10px;
  border: 2px solid rgb(255, 171, 0);
  color: rgba(255, 141, 0, 1);
}
.linkLogin,
.linkSignup {
  border-radius: 5px;
  text-decoration: none;
}
@media (max-width: 1100px) {
  .content {
    margin-top: 3em;
  }
}
@media screen and (max-width: 770px) {
  .content {
    margin-top: 3em;
    width: 90vw;
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    /* justify-content: space-around; */
  }
  .contentText {
    margin-bottom: 1em;
  }
  .imgTestSystem {
    width: 100%;
    height: auto;
  }
}
