.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-content: space-between; */
  background-color: #e8e8e8;
  flex-wrap: wrap;
  /* position: relative; */
}
@media only screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    /* position: relative; */
  }
}
