.exam {
  padding: 10px;
  margin: 10px;
  /*border: 1px solid black;
  max-width: 180px;*/
  min-width: 240px;
  min-height: 160px;
  max-height: 200px;
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #f5fcfc;
  border-radius: 5px;
}
.date {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: left;
  font-size: 16px;
  color: #3b7eeb;
}
.title {
  grid-column-start: 1;
  grid-column-end: 4;
  padding-top: 1vw;
  /* padding-bottom: 1vw; */
  font-size: 18px;
  text-align: center;
}
.description {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  margin: 0px 2px;
  font-size: 14px;
}

.duration {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: left;
  font-size: 15px;
}
.price {
  grid-column-start: 3;
  grid-column-end: 4;
  font-size: 15px;
  text-align: right;
}
.btnStart {
  grid-column-start: 1;
  grid-column-end: 2;
}
.btnCalc {
  grid-column-start: 2;
  grid-column-end: 3;
}
.btnRes {
  grid-column-start: 3;
  grid-column-end: 4;
}
.btnStart,
.btnCalc,
.btnRes {
  color: #6b6a6a;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  /* padding: 5px 3px; */
  /* padding-left: 5px;
  padding-right: 5px; */
  padding-top: 7px;
  border-top: 1px solid #a8a8a8;
}

.btnStart:hover {
  background-color: #f2f2f2;
}
.btnCalc:hover {
  background-color: #f2f2f2;
}
.btnRes:hover {
  background-color: #f2f2f2;
}
@media screen and (max-width: 800px) {
  .exam {
    min-width: 240px;
    min-height: 100px;
  }
  .exam .date {
    font-size: 18px;
  }
  .title {
    font-size: 20px;
  }
  .btnStart,
  .btnCalc,
  .btnRes {
    font-size: 14px;
  }
  .duration,
  .price {
    font-size: 17px;
  }
}
